# Environment files
.env
.env.local
.env.*.local
.env.development
.env.production

# But allow example files
!.env.example

dev
*.csv
__pycache__
*.pemq
ec2-scraper-service.pem
src/.DS_Store
.DS_Store

notebook